<nav id="sidebar">
    <div class="p-4 pt-5">
        
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="/admin">Home</a>
            </li>
            <!-- 3 hàng này -->
            <li>
                <a href="/admin/ListBook">Sách</a>
            </li>
            <!-- 3 hàng này -->
            <li >
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Quản Lý</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="/admin/DanhMucSanPham">Thể loại</a>
                    </li>
                    <li>
                        <a href="/admin/PhieuNhap">Nhập Sách</a>
                    </li>
                    <li>
                        <a href="/admin/PhieuBan">Bán Sách</a>
                    </li>
                    <li>
                        <a href="/admin/PhieuThuTien">Phiếu Thu Tiền</a>
                    </li>
                    <li>
                        <a href="/admin/KhachHang">Khách Hàng</a>
                    </li>
                    <li>
                        <a href="/admin/LichSuNhapSach">Lịch Sử nhập sách</a>
                    </li>
                    <li>
                        <a href="/admin/LichSuBanSach">Lịch Sử Bán Sách</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Thống kê</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
        </ul>

    </div>
</nav>